@import url('https://fonts.googleapis.com/css2?family=Dhurjati&display=swap');

.App {
  background-color: #0055ff;
  color: #f700ff;
  border-radius: 1rem;
}

ul
{
  text-align: start;
  font-family: 'Dhurjati', sans-serif;
  font-size: x-large;
   padding-right: 0px;
   padding-left: 0px;
   padding-bottom: 0px;
   padding-top: 0px;
   margin: 2rem;
}
li
{
   list-style-type: none;
   display: inline-block;
   padding-right: 5px;
}

a {
  color: #f700ff;
  filter: brightness(2);
  text-decoration: none;
  padding: 0.2rem;
}

form{
  margin-right: 0%;
  float: inline-end;

}

